# Build results
bin/
obj/
Debug/
Release/

# Visual Studio
.vs/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Backup and temporary files
*.tmp
*.temp
*.bak
*.backup
*.swp

# NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Others
TestResult*/
*.dbmdl
*.jfm
*.pdb
*.dll
*.exe

# Publish output
publish/
